/coverage
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/storage/git
/storage/metadata
/tests/report
/vendor
/storage/logs
.env
.env.backup
.env.dusk.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
envoy
npm-debug.log
yarn-error.log
/docker/8.1/id_ed25519*
/docker/8.1/known_hosts
