/coverage
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/storage/git
/tests/report
/vendor
.env
.env.backup
.env.dusk.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/docker/8.1/id_ed25519*