TARGET_SERVER=server.example.org
TARGET_USER=web
TARGET_DIR=metaman

REPOSITORY=https://github.com/JanOppolzer/metaman

APP_NAME=MetaMan
APP_ENV=production
APP_DEBUG=false
APP_URL=https://server.example.org

DB_HOST=127.0.0.1
DB_DATABASE=database
DB_USERNAME=user
DB_PASSWORD=password

MAIL_MAILER=log
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=hello@example.org
MAIL_FROM_NAME=\"\${APP_NAME}\"
MAIL_REPLYTO_ADDRESS=info@example.org
MAIL_REPLYTO_NAME=Example
MAIL_ADMIN_ADDRESS=admin@example.org
MAIL_RA_ADDRESS=ra@example.org

GIT_REMOTE=git@git.example.org:repository
GIT_REMOTE_BRANCH=main
GIT_LOCAL=/home/web/metaman/storage/git
GIT_USER_NAME=\"\${APP_NAME}\"
GIT_USER_EMAIL=user@example.org
GIT_EDUGAIN_CFG=eduid2edugain.cfg
GIT_EDUGAIN_TAG=eduid2edugain.tag
GIT_HFD_TAG=hide-from-discovery.tag
GIT_EC_RS=rs.tag
GIT_EC_ESI=esi.tag
GIT_RS_FEDERATION=ratamahatta

METADATA_BASE_URL=https://metadata.example.org/

LOG_SLACK_WEBHOOK_URL=https://hooks.example.org/services/token
LOG_SLACK_CHANNEL=#metaman

LDAP_HOST=ldap.example.org
LDAP_USERNAME="uid=user,ou=People,dc=example,dc=org"
LDAP_PASSWORD="SafePassw0rd!"
LDAP_PORT=636
LDAP_BASE_DN="ou=Organizations,dc=example,dc=org"
LDAP_BASE_DN_EDUIDCZORGANIZATIONS="ou=Organizations,o=saml,dc=example,dc=org"
LDAP_SSL=true
LDAP_TLS=false
